
.intro-container{
    display: flex;
    height: 40rem;
    width: 100%;
    margin-top: 4rem;
    background-size: contain;
    background-repeat: no-repeat;
    /* align-items: center; */
    justify-content: center;

}
.intro-left{
    /* background-color: aqua; */
    width: 50%;
   
}
.intro-left-main{
    width: 100%;
    margin: 5rem auto;
    padding-left: 5rem;
    padding-right: 5rem;
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-size: 1.4rem;
    line-height: 3rem;
    font-weight: bolder;
    letter-spacing: 2px

}


.grad-span{
    background-image: linear-gradient(112deg, #d22c84, #fb6069 52%, #2d84f1);
    -webkit-text-fill-color: transparent;
    background-clip: text;
    /* font-family: 'Plus Jakarta Sans', sans-serif; */
    font-size: 2.2rem;
}
.intro-left-main>p{
    font-family: Inter, sans-serif;
    font-size: 14px;
    line-height: 25px;
    font-weight: 100;
    color: #666;
    margin-top: 2rem;
    padding-right: 10rem;
}
.intro-left-main>button{
   width: 6rem;
   height: 2.5rem;
   background-color: rgb(0, 0, 0);
   color: white;
   border: none;
   border-radius: 5px;
   font-weight: 100;
   font-size: 1.15rem;
   line-height: 0%;
}
.intro-left-main>button:hover{
    color: black;
    background-color: white;
    border: 1px solid black;
}
.intro-right{
    /* background-color: rgb(251, 15, 15); */
    width: 50%;
}
.intro-right>div{
/* width: 80%; */
width: 40vw;
height: 60vh;
margin-left: 0px;
margin-top: 5rem;
background-image: url("https://uploads-ssl.webflow.com/606c4d4ed5ba7ca3bc774c4c/62f5e9c304e0676441e5d23d_1.Automated%20QA.png");
background-position: 50% 50%;
background-size: contain;
background-repeat: no-repeat;
animation: slider 8s ease-in-out  infinite;
}

@keyframes slider{
    35%{background-image: url("https://uploads-ssl.webflow.com/606c4d4ed5ba7ca3bc774c4c/62f5ea2acea37340b5010868_3.png");
        /* transform: translateY(0); */
    }
    75%{background-image: url("https://uploads-ssl.webflow.com/606c4d4ed5ba7ca3bc774c4c/62f5e9de270e0c3c680b5712_2.Win%20Behavior%20Analysis.png");}
   
}

.intro-image-banner{
  max-height: 120px;
  display: flex;
  overflow-x: auto;
  justify-content: center;
  align-items: center;
  margin-bottom: 4rem;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;
  /* animation: ani 10 linear infinite; */
}
.intro-image-banner::-webkit-scrollbar{
    width: 0;
}
.intro-image-banner .item{
    min-width: 8rem;
    height: 6rem;
    margin-right: 4rem;
   
}
.item>img{
    width: 100%;
    animation: bannermove 10s linear infinite;
    filter: grayscale(1);
    
}

@keyframes bannermove {
    0% {
       margin-left: 0px;
    }
    100% {
       margin-left: -70rem;
    }
    
   }



  