/* *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: none;
} */
.nav-container{
    width: 100%;
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: rgb(255, 255, 255);
    position: fixed;
    z-index: 10;
}
/* Navbar left CSS */
.left-logo{
    width: 13rem;
    margin-left: 1rem;
}
.left-logo>img{
    width: 100%;
}

/* Navbar Middle CSS */
.middle{
    width: 50rem;
    padding-right: 0.1rem;
}
.middle>ul{
    display: flex;
    align-items: center;
    text-decoration: none;
    margin-bottom: 0;
    /* height: 5rem; */
}
.middle>ul>li{
    list-style: none;
    margin: 0 1.1rem;
    font-weight: 600;
    font-size: 1rem;
    width: 5rem;
    position: relative;
}

.middle>ul>li>a:hover{
    border-bottom: 2px solid black;
    cursor: pointer;
}
.integration-dropdow{
    /* display: none; */
    visibility: hidden;
    /* padding-top: 1rem; */
    /* border-radius: 5px; */
    background: white;
    position: absolute;
    width: 16rem;
    z-index: 10;
    /* height: 5rem; */
    top: 5rem;
    left: -4rem;
    border-radius: 1px;
    -webkit-box-shadow: 0px 2px 16px -7px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 2px 16px -7px rgba(0,0,0,0.75);
    box-shadow: 0px 2px 16px -7px rgba(0,0,0,0.75);
    border-radius: 4px;
}
.integration-dropdow>li{
    width: 100%;
    padding-left: 2rem;
    min-height: 3rem;
    padding-top: 1rem;
    
}

.integration-dropdow>li:hover{
    background: lightgray;
    border-radius: 2px;
}
.solution-dropdown{
    /* display: grid; */
    position: absolute;
    left: -6rem;
    width: 25rem;
    font-size: .9rem;
    grid-template-columns: 1fr 1fr;
}
.active{
    visibility: visible;
    /* display: block; */
}
.x{
    height: 5rem;
    padding-top: 1.7rem;
}
/* NAVBAR Right CSS */
.right-button{
    width: 20%;
}
.right-button button{
    width: 6rem;
    height: 2.8rem;
    margin: 0 .5rem;
    font-size:.8rem;
    font-weight:600;
    border: 1px solid black;
    border-radius: 10px;
    background: white;

}

.right-button button:hover{
    color: white;
    background-color: black;
    /* border: 1px solid black; */
}

/* .right>button:hover{

} */